:root {
  --link-color: transparent;
  scroll-behavior: smooth;
}
.project {
  transition: transform ease-in 150ms;
  outline: 2px dotted #0b4363;
}
.project:hover,
.project:focus,
.project:active {
  transform: translateY(-2.5%);
  outline: 3px solid #0b4363;
}

.skill {
  transition: tranform ease-in 150ms;
}
.skill:hover,
.skill:focus,
.skill:active {
  transform: translateY(-15%);
}
.icon {
  transition: transform ease-in 150ms;
  fill: rgb(191 219 254);
}
.icon:hover,
.icon:focus,
.icon:active {
  transform: scale(1.35);
  fill: #eadb8a;
}

.link {
  position: relative;
  /* color: var(--link-color); */
  background: var(--link-color);
  background-clip: text;
  background: -webkit-linear-gradient(to right, #eee697, #b48d4a, #fdf4a1);
  background: -moz-linear-gradient(to right, #eee697, #b48d4a, #fdf4a1);
  background: linear-gradient(to right, #eee697, #b48d4a, #fdf4a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link::before,
.link::after {
  position: absolute;
  background-color: var(--link-color);
  content: "";
  width: 0;
  height: 2px;
  transition: width 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.link::before {
  left: 0;
  bottom: 0;
}
.link::after {
  right: 0;
  bottom: 0;
}
.link:hover::before,
.link:hover::after {
  width: 50%;
}
/*  all rainbow colors */
.link-red {
  --link-color: #ff0000;
}
.link-blue {
  --link-color: blue;
}
.link-green {
  --link-color: green;
}
.link-yellow {
  --link-color: yellow;
}
.link-orange {
  --link-color: #eadb8a;
  /* --link-color: orange; */
}
.link-purple {
  --link-color: purple;
}
.link-pink {
  --link-color: pink;
}
.link-brown {
  --link-color: brown;
}
.link-gray {
  --link-color: gray;
}
/* 
@import  url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"); */

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}
.font-zb {
  font-family: "Zilla Slab", serif;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}

.Typist .Cursor--blinking {
  /* all: revert; */
  /* @apply text-7xl; */
  color: #eadb8a;
  opacity: 1;
  animation: my-blink 1s linear infinite;
}

@keyframes my-blink {
  0% {
    color: #b48d4a;
  }
  100% {
    color: white;
  }
}
@-webkit-keyframes my-blink {
  0% {
    color: #b48d4a;
  }
  100% {
    color: white;
  }
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(black, #0b4363);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #eee697, #b48d4a, #fdf4a1);
  border-radius: 10px;
}

img {
  pointer-events: none;
}

.arrow-container {
  position: relative;
  height: 100px;
  /* background-color: lightblue; */
}
.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.arrow-1 {
  border-right: 2px solid #eee697;
  border-bottom: 2px solid #eee697;
  top: 0;
  animation: arrow-1-blink 1.5s ease-out infinite;
}
.arrow-2 {
  border-right: 2px solid #b48d4a;
  border-bottom: 2px solid #b48d4a;
  top: 10%;
  animation: arrow-2-blink 1.5s ease-out infinite;
}
.arrow-3 {
  border-right: 2px solid #fdf4a1;
  border-bottom: 2px solid #fdf4a1;
  top: 20%;
  animation: arrow-3-blink 1.5s ease-out infinite;
}
@keyframes arrow-1-blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-2-blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-3-blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
